In [194]:
import pandas as pd
import numpy as np
import keras
import sys
import sklearn
from sklearn import *

In [195]:
print ( "python :", sys.version
      ,"\npandas :", pd.__version__
      ,"\nkeras :", keras.__version__
      ,"\nsklearn :", sklearn.__version__
      )

python : 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 17:00:18) [MSC v.1900 64 bit (AMD64)]
pandas : 0.22.0
keras : 2.1.5
sklearn : 0.19.1

Finding top 10 movies from IMDB ratings dataset

In [196]:
movies =pd.read_csv(r".\data\ml-latest-small\movies.csv")
print(movies.shape)
movies.dropna()
print(movies.shape)
movies.head()

(9125, 3)
(9125, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [197]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
movieId    9125 non-null int64
title      9125 non-null object
genres     9125 non-null object
dtypes: int64(1), object(2)
memory usage: 213.9+ KB

In [198]:
ratings=pd.read_csv(r".\data\ml-latest-small\ratings.csv")
print(ratings.shape)
ratings.dropna()
print(ratings.shape)
ratings.head()

(100004, 4)
(100004, 4)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [215]:
print(ratings[ratings.movieId==1].shape)
ratings[ratings.movieId==1].head()

(247, 4)

      userId  movieId  rating   timestamp
495        7        1     3.0   851866703
699        9        1     4.0   938629179
889       13        1     5.0  1331380058
962       15        1     2.0   997938310
3105      19        1     3.0   855190091

In [216]:
ratings[ratings.movieId==1].rating.mean()

3.8724696356275303

In [226]:
agg=ratings.groupby("movieId").rating.agg([np.mean,len])
print(agg.shape)
agg.head()
aggn=agg[agg.len>10]
aggn.head()

(9066, 2)

             mean    len
movieId
1        3.872470  247.0
2        3.401869  107.0
3        3.161017   59.0
4        2.384615   13.0
5        3.267857   56.0

In [223]:
agg_merge=agg.merge(movies,left_index=True, right_on="movieId")

#adding reliability selecting those movies which has reviews greater than 10

agg_mergen=aggn.merge(movies,left_index=True, right_on="movieId")

In [219]:
agg_merge=agg_merge.sort_values("mean",ascending=False)
agg_merge.shape

(9066, 5)

In [224]:
#for movies greater than 10 reviews
agg_mergen=agg_mergen.sort_values("mean",ascending=False)
agg_mergen.shape

(2083, 5)

In [220]:
agg_merge = agg_merge[["movieId", "mean", "title"]].iloc[:10, :]
agg_merge

      movieId  mean                                              title
9122   163949   5.0  The Beatles: Eight Days a Week - The Touring Y...
7321    71180   5.0                               Padre padrone (1977)
6651    51471   5.0                               Amazing Grace (2006)
6684    52617   5.0       Woman on the Beach (Haebyeonui yeoin) (2006)
6726    53887   5.0                                O Lucky Man! (1973)
6739    54251   5.0                                Dorian Blues (2004)
6748    54328   5.0           My Best Friend (Mon meilleur ami) (2006)
6807    55555   5.0  Edge of Heaven, The (Auf der anderen Seite) (2...
6860    56869   5.0                  Drained (O cheiro do Ralo) (2006)
6867    57038   5.0  To the Left of the Father (Lavoura Arcaica) (2...

In [227]:
#top 10 movies with greater than 10 reviews and good rating

agg_mergen = agg_mergen[["movieId", "mean", "title"]].iloc[:10, :]
agg_mergen

      movieId      mean                                title
1501     1939  4.636364  Best Years of Our Lives, The (1946)
2770     3469  4.541667              Inherit the Wind (1960)
695       858  4.487500                Godfather, The (1972)
284       318  4.487138     Shawshank Redemption, The (1994)
1510     1948  4.458333                     Tom Jones (1963)
5339     8132  4.454545                     Gladiator (1992)
1507     1945  4.448276             On the Waterfront (1954)
915      1147  4.437500            When We Were Kings (1996)
746       926  4.434211                 All About Eve (1950)
973      1217  4.423077                           Ran (1985)

## saving to csv

agg_merge.to_csv("top10movies.csv")

agg_mergen.to_csv("top10movies_reviewgt10.csv")

# -----------------------------------------END---------------------------------------------------------